.Footer{
    background: $footer;
    padding: 40px 0;
    text-align: center;
    &-Socials{
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    &-Title{
        font-weight: bold;
        font-size: 24px;
        color: #fff;
    }
    &-Line{
       height: 2px;
       width: 700px;
       background: #fff;
       position: relative;
       left: 25%;
       margin: 50px 0;
    }
    &-BuyList{
        display: flex;
        justify-content: center;
    }
    &-Buy{
        width: 70px;
        height: 70px;
        margin-left: 30px;
    }
    &-Link{
        font-weight: lighter;
    }
    li{
        margin-top: 30px;
    }
}