.Header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    &-Logo{
       height: 50px;
       width: 250px;
    }
    &-Link{
        font-size: 18px;
        margin-left: 30px;
        color: #ffffff;
        letter-spacing: 1.5px;
        font-family: $font-serif;
    }
    
}
