.HomePage{
  &-bg{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-5;
  }
    position:relative;
    background:rgba(69, 99, 230,0.8);
    height: 100vh;
    width: 100%;
    color: #fff;
    .--paddingTop{
        position: absolute;
        top: 25%;
    }
    &-Title{
        font-size: 68px;
        width: 600px;
    }
    &-SubTitle{
        font-weight: lighter;
        font-size: 25px;
        margin: 20px 0 100px 0;
        width: 600px;
        line-height: 30px;
    }
    &-Link{
        border: 2px solid #fff;
        padding: 20px 30px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    &-Link:hover{
        background:#4563e6;
        transition: 1s;
    }
}
