// Font
$font-serif: 'Roboto';
$font-ss: 'Arial', 'Helvetica', sans-serif;

// Color
$mainColor: #231c6e;
$secondaryColor: #4D61D6;
$fontBlue: #4563e6;

// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

html {
}
