// Font
$font-serif: 'Roboto';
$font-ss: 'Arial', 'Helvetica', sans-serif;

// Color
$mainColor: #231c6e;
$blue: #4563e6;
$footer: #171717;


// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

