// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';
@import './mixins/button';

// components
@import './components/header';
@import './components/homepage';
@import './components/more';
@import './components/steps';
@import './components/footer';

//Second Page
@import './components/homepageSalon';
@import './components/HeaderSalon';
@import './components/map';
@import './components/unity';




body{
    overflow-x: hidden;
    font-family: $font-serif;
}

a {
text-decoration: none;
color: #fff;
}
